# Eclipse stuff
/.classpath
/.project
/.settings
/.checkstyle

# netbeans
/nbproject

# eclipse
api/.classpath
api/.project
api/.settings/
bukkit/.classpath
bukkit/.project
bukkit/.settings/
common/.classpath
common/.project
common/.settings/
universal/.classpath
universal/.project
universal/.settings/

# we use maven!
/build.xml

# maven
/*/target/
dependency-reduced-pom.xml

# vim
.*.sw[a-p]

# various other potential build files
build/
/bin
/dist
/manifest.mf

/world

# Mac filesystem dust
*.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

# Fern's utils
uploadtoserver.sh

# Testing files:
debug.log

# Doxygen
/docs/html
debug.txt

# gradle stuff
.gradle/
.gradletasknamecache

# fabric
fabric/run/
